<head>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover"
  />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>meteor-react-f7-new</title>
</head>

<body>
  <div id="react-target"></div>
</body>
